<div class="row">
	<div class="col-9 offset-3">
		<p>HOT ユーザー</p>
	</div>
	<% @user_rankings.each do |user| %>
		<div class="col-10 offset-2">
			<%= link_to user_path(user.id) do %>
				<%= image_tag user.profile_image.url, :size => '50x50' %>
				<%= user.name %>
			<% end %>
		</div>
		<div class="col-8 offset-4" style="margin-bottom: 15px;">
			<%= user.followings.count %> フォロワー
		</div>
	<% end %>
	<div class="col-9 offset-3" style="margin-top: 20px;">
		<p>おすすめユーザー</p>
	</div>
	<div class="col-8 offset-4">
	</div>
</div>