.lside-content {
  width: 50%;
  height: 50px;
  padding-top: 5%;
  font-weight: 600;
  background-color: #FFFFFF;
  color: #1E90FF;
  font-size: 100%;
  border-style: none;
  border-radius: 30px;
  text-align: center;
}

.lside-content:hover {
  background-color: #1E90FF;
  color: #FFFFFF;
}

.lside-profile {
  width: 70%;
  height: 50px;
  padding-top: 5%;
  font-weight: 600;
  background-color: #FFFFFF;
  color: #1E90FF;
  font-size: 100%;
  border-style: none;
  border-radius: 30px;
  text-align: center;
}

.lside-profile:hover {
  background-color: #1E90FF;
  color: #FFFFFF;
}