// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new {
	margin-top: 1em;
}
.edit-title {
	font-weight: 900;
	font-size: 30px;
	margin: 0.5em 0 1em 4em;
}

.edit-subtitle {
	font-weight: 700;
	font-size: 20px;
	margin: 0 0 1em 5em;
}

.edit-content {
	margin: 0 0 2em 6em;
}